   * {
   	box-sizing: border-box;
   }

   body {
   	margin: 0;
   }

   #rwd h1 {
   	font-family: 'Verdana', sans-serif;
    position: absolute;
   }

   #rwd {
   	position: relative;
   	background-size: cover;
   	background-position: center;
   	background-repeat: no-repeat;
   }